{% extends 'main/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

<h3>Welcome to the ToDoList web app !</h3>
<a href="https://github.com/JoaoVictor-HM" target="_blank"><img src="https://www.flaticon.com/svg/vstatic/svg/25/25231.svg?token=exp=1617061216~hmac=578d2589d6b26552e28f1d67983fbb82" alt="github" style="width:42px;height:42px;"></a>
<a href="https://www.linkedin.com/in/jo%C3%A3o-victor-henrique-madeira-68120015b/" target="_blank"><img src="https://www.flaticon.com/svg/vstatic/svg/1384/1384014.svg?token=exp=1617061307~hmac=562438d51505b0e93539c0aa474ba8ee" alt="github" style="width:42px;height:42px;"></a>
{% endblock %}
